[submodule "3rd_party/eigen"]
	path = 3rd_party/eigen
	url = https://github.com/libigl/eigen.git
[submodule "3rd_party/sdl-src"]
	path = 3rd_party/sdl-src
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rd_party/imgui"]
	path = 3rd_party/imgui
	url = https://github.com/ocornut/imgui.git
